/* Общие */
body
{
	margin: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 24px;
	text-transform: none;
}

a
{
	text-decoration: none;
	color: #ffffff; 
}

.visually-hidden
{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-navigation-list,
.categories-list,
.company-description-list,
.footer-navigation,
.footer-catalog-navigation,
.footer-social-list,
.popular-goods-list,
.popular-brands-item,
.slider-instruments,
.services-slider-button
{
	list-style: none;
}

/* Хедер*/
.main-header-top-background
{
	width: 100%;
	background-color: #293449;
}

.main-header-top
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 940px;
	margin: 0 auto;
	background-color: transparent;
}

.main-header-logo
{
	background-color: #ee3643;
	padding: 14px 54px 4px 55px;
	box-shadow: 0px 5px 0 0 #b52933;
	vertical-align: top;
	cursor: pointer;
}

.search
{
	display: flex;
	padding: 0px 0px;
	font-size: 17px;
	line-height: 18px;
}

.search-icon
{
	width: 48px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
	background-color: transparent;

}

.site-search
{
	min-width: 222px;
	min-height: 42px;
	background-color: #293449;
	border:none;
}

.search-icon:hover,
.site-search:hover
{
	background-color: #212a3a;
}

.search-icon:focus, /*Кааааак объеденииить!!!!*/
.search-icon:active,
.site-search:focus,
.site-search:active
{
	outline: none;
	background-color: #ffffff;
	color: #000000;
}

.site-search::-webkit-input-placeholder {color:#ffffff;}
.site-search::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
.site-search:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
.site-search:-ms-input-placeholder      {color:#ffffff;}

.bookmarks
{
	position: relative;
	padding: 13px 27px 11px 43px;
	display: inline-block;
	margin: 0px;
	font-size: 17px;
	line-height: 18px;
}

.basket
{
	position: relative;
	padding: 13px 31px 11px 49px;
	display: inline-block;
	margin: 0px;
	font-size: 17px;
	line-height: 18px;
}

.bookmarks::before
{
	position: absolute;
	top: 12px;
	left: 17px;
	content: "";
	width: 14px;
	height: 18px;
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket::before
{
	position: absolute;
	top: 12px;
	left: 17px;
	content: "";
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.bookmarks:hover,
.bookmarks:hover::before,
.basket:hover,
.basket:hover::before
{
	background-color: #212a3a;
	opacity: 1;
}

.bookmarks:active,
.basket:active
{
	opacity: 0.5;
}

.button-order-header
{
	display: inline-block;

	background-color: #63a63e;
	padding: 15px 23px 11px 20px;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
}

.button-order-header:hover
{
background-color: #5fbb2d
}

.button-order-header:active
{
	opacity: 0.5;
}

.main-header-bottom-background
{
	width: 100%;
	background-color: #f3f7f8;
	padding-top: 49px;
	padding-bottom: 60px;
	margin-bottom: 60px;
}

.main-header-bottom
{
	display:flex;
	flex-direction: row;
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	margin-bottom: 40px; 
	background-color: transparent;
}

.main-title
{
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 52px;
	padding-right: 47px;
	width: 225px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: 23px;
	text-align: left;
	color: #ee3643;
}

.header-contacts
{
	padding-right: 67px;
}

.header-contacts-phone
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 270px;
}
.contacts-phone-number
{
	padding: 6px 48px 10px 70px;
	min-width: 144px;
	border: 4px solid #ffffff;
	box-sizing: border-box;
	font-size: 21px;
	font-weight: 600;
	line-height: 21px;
	color: #ee3643;
}

.header-contacts-address
{
	padding: 1px 0px 0px 10px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.header-contacts-address:hover,
.header-contacts-address:focus
{
	text-decoration: underline;
	color: #e9292a;
}

.header-contacts-address:active
{
	text-decoration: none;
	color: #32425c;
	opacity: 0.3;
}

.user-nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.user-nav-login
{
	position: relative;
	background-color: #ffffff;
	padding: 10px 24px 13px 49px;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	margin-right: 10px;
}

.user-nav-login::before   /*Почему не отображается!!!*/ 
{
	position: absolute;
	top: 12px;
	left: 16px;
	content: "";
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-nav-login:hover,
.user-nav-registration:hover,
.user-nav-login:focus,
.user-nav-registration:focus
{
	color: #e9292a;
}

.user-nav-login:hover::before
{
	opacity: 1;
}

.user-nav-login:active,
.user-nav-registration:active
{
	opacity: 0.5;
	color: #000000;
}

.user-nav-registration
{
	background-color: #ffffff;
	padding: 9px 25px 13px 25px;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
}

.user-nav-initialized
{
	display: flex;
	flex-direction: column;
}

.user-nav-profile
{
	padding: 14px 68px 14px 48px;
	margin-bottom: 12px;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-nav-initialized-bottom
{
	display: flex;
	justify-content: space-between;
	padding: 0px 60px 0px 20px;
}

.user-nav-orders,
.user-nav-account
{
	font-size: 16px;
	line-height: 18px;
	color:#32425c;
	text-decoration: underline;
}


.main-navigation
{
	width: 940px;
	margin: 0 auto;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #32425c;
}

.main-navigation-list
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 21px 0px 22px 0px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
}

.main-navigation-list a:not(.header-item):not(.contacts-item)
{
	padding: 21px 30px 21px 30px;
}

.header-item
{
	padding: 21px 30px 21px 51px;
}

.contacts-item
{
	padding: 21px 56px 21px 30px;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus
{
	background-color:rgba(0,0,0,0.3);
}

.main-navigation-list a:active,
.main-navigation-list a:active
{
	background-color:rgba(0,0,0,0.3);
	opacity: 0.6;
}

/*Мейн*/
.main-top
{
	max-width: 940px;
	margin: 0 auto;
}

	/*Преимущества*/
.categories
{
	margin-bottom: 52px;
}

.categories-list-top h3,
.categories-list-bottom h3
{
	margin: 19px 0px 12px 23px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
}

.categories-list-top a,
.categories-list-bottom a
{
	display: inline-block;
	width: 95px;
	padding: 12px 20px;
	margin-left: 24px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	text-align: center;
}

.categories-list-top
{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

.categories-item-materials
{
	position: relative;
	width: 300px;
	padding-bottom: 20px;
	background-color: #ffbf47;
	background-image: url(../img/icon-materials.svg);
	background-repeat: no-repeat;
	background-position: 212px 30px;
}


.categories-item-instruments
{
	position: relative;
	width: 300px;
	background-color: #3bbce3;
	background-image: url(../img/icon-instruments.svg);
	background-repeat: no-repeat;
	background-position: 196px 32px;

}

.categories-item-equipment
{
	position: relative;
	width: 300px;
	background-color: #dc91d8;
	background-image: url(../img/icon-equipment.svg);
	background-repeat: no-repeat;
	background-position: 190px 29px;
}

.categories-list-bottom
{
	display: flex;
	flex-direction: column;
	position: relative;
}

.categories-item-sale
{
	position: relative;
	align-self: flex-end;
	width: 300px;
	padding-bottom: 20px;
	background-color: #8ed78f;
	margin-bottom: 20px;
	background-image: url(../img/icon-sale.svg);
	background-repeat: no-repeat;
	background-position: 195px 26px;
}

.categories-item-delivery
{
	position: relative;
	align-self: flex-end;
	width: 300px;
	padding-bottom: 20px;
	background-color: #ffc047;
	background-image: url(../img/icon-delivery.svg);
	background-repeat: no-repeat;
	background-position: 190px 33px;
}

	/*Слайдер инструменты*/
.slider
{
	position: absolute;
	max-width: 620px;
	max-height: 266px;
	top: 0px;
	left: 0px;
}

.slider-instruments
{
	padding-left: 0px;
	margin: 0 auto;
}
.slider-instruments span
{
	position: absolute;
	top:26px;
	left:26px;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #ffffff;
}

.slider-instruments p
{
	position: absolute;
	top: 45px;
	left: 26px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.slider a
{
	position: absolute;
	left:26px;
	bottom: 36px;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 45px 12px 49px;
	border-radius: 3px;
}

.button-next
{
	position: absolute;
	right: 26px;
	top: 120px;
}

.button-back
{
	position: absolute;
	top: 120px;
	left: 26px;
}


	/*Популярные товары*/
.popular-goods-background
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 886px;
	padding-top: 25px;
	padding-bottom: 24px;
	padding-left: 29px;
	padding-right: 24px;
	background-color: #f9f5f0;
}

.popular-goods-background h2
{
	margin: 0px 0px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 100;
	text-transform: uppercase;
	color: #32425c;
}

.popular-goods-background a
{
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 54px 10px 55px;
	border-radius: 3px;
}

.popular-goods-list
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0px;
	margin: 0px;
}

/*Каталог*/

.catalog-list
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 700px;
	padding-left: 0px;
	margin: 0px 0px;
}

.catalog-item
{
	position: relative;
	display: inline-block;
	width: 218px;
	margin: 20px 0px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ccc;
}

.catalog-item img
{
	max-width: 100%
}

.catalog-item h3
{
	min-height: 40px;
	padding: 0 25px;
	margin-top: 6px;
	margin-bottom: 11px;
	font-family: 'PT-Sans', 'Arial', sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
}

.old-price
{
	min-height: 20px;
	font-family: 'PT-Sans', 'Arial', sans-serif;
	color:#a9a9a9;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	text-decoration: line-through;
	text-align: center;
}

.new-price
{
	position: relative;
	width: 80px;
	margin: 7px auto;
	margin-bottom: 20px;
	padding: 11px 28px 11px 29px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
	font-family: 'PT-Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	text-align: center;
}


.new-price:after
{
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 1px;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.flag
{
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.flag-new
{
	background: url(../img/new-flag.png) no-repeat 0 0;
}

.actions
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
}

.catalog-item:hover .actions
{
	display: block;
}

.button-order,
.button-bookmarks
{
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius:3px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.button-bookmarks
{
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

	/*Популярные производители*/
.popular-brands-background
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 886px;
	margin-bottom: 20px;
	padding-top: 25px;
	padding-bottom: 24px;
	padding-left: 29px;
	padding-right: 26px;
	background-color: #f9f5f0;
}

.popular-brands-background h2
{
	margin: 0px 0px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.popular-brands-background a
{
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 10px 69px 10px 68px;
	border-radius: 3px;

}

.popular-brands-list
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-bottom: 65px;
	padding-left: 0px;
	max-width: 940px;
}

.popular-brands-item
{
	margin-bottom: 20px;
}

.popular-brands-item a
{
	display: flex;
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
}

.popular-brands-item img
{
	align-self: center;
	margin: 0 auto;
	
}

	/*Слайдер сервисы*/
.services-slider-background
{
	width: 100%;
	background-color: #f4f8f9;
	margin-bottom: 80px;
}

.services-slider
{
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding-bottom: 264px;
}

.services-slider-title
{
	display: inline-block;
	max-width: 370px;
	margin-top: 63px;
	margin-right: 330px;
	margin-bottom: 75px;
}

.services-slider h2
{
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
	margin: 0px 0px 40px 0px;
	text-transform: uppercase;
}

.services-slider-title p
{
	margin: 0px 0px 0px 0px;
}

.container label
{
	position: absolute;
	margin: 0px 0px;
	padding: 20px 0px 0px 20px;
	width: 240px;
	height: 41px;
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
	background-color: #32425c;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	cursor: pointer;
}

.warranty-label
{
	top: 317px;
}

.credit-label
{
	top: 378px;
}

.container label:active /*НЕ СОХРяет СОСТОЯНИЕ!!!!*/
{
	box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
	background-color: #ffffff;
	color: #32425c;
}

.services-slider span
{
	display: block;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.services-slider p
{
	display: block;
	margin: 0px 0px 0px 0px;
}

.services-slider-list
{
	float: right;
	max-width: 620px;
	margin: 0px 0px;
	padding-left: 0px;
}


.services-slider-item
{
	display: none;

}

.services-slider-item:nth-child(1)
{
	display: block;
	background-image: url(../img/services-img-1.png);
	background-repeat: no-repeat;
}

.services-slider-item:nth-child(2)
{
	background-image: url();
	background-repeat: no-repeat;
}

.services-slider-item:nth-child(3)
{
	background-image: url();
	background-repeat: no-repeat;
}

.delivery:active .services-slider-item:nth-child(1)
{
	display: block;
}

.credit a
{
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 45px 12px 45px;
	border-radius: 3px;
}



	/*Описание компании*/

.main-bottom
{
	display: flex;
	justify-content: space-between;
	max-width: 940px;
	margin: 0 auto;
	margin-bottom: 85px;
}

.company-description
{
	display: inline-block;
	width: 520px;

}

.contacts
{
	width: 300px;
}

.company-description-title,
.contacts-title
{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0px 0px;
}

.company-description-list
{
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
}
.company-description a
{
	display: inline-block;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 14px 40px 12px 41px;
	margin-top: 40px;
	border-radius: 3px;
}

	/*Контакты*/
.button
{
	display: inline-block;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 14px 59px 12px 63px;
	margin-top: 40px;
	border-radius: 3px;
}


/*Футер*/
.main-footer-top
{
	background-color: #32425c;
	padding-bottom: 50px;
}

.footer-top-navigation
{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 35px;
	max-width: 940px;
}

.footer-logo
{
	background-color: #ee3643;
	padding: 21px 41px 14px 41px;
	box-shadow: 0px 5px 0 0 #b52933;
	align-self: center;
}

.footer-top-contacts
{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 940px;
}

.footer-contacts
{
	max-width: 324px;
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
}

.footer-navigation
{
	display: flex;
	justify-content: space-between;
	min-width: 550px;
	padding-left: 0px;
	margin: 42px 0px 0px 0px;
}

.footer-navigation a
{
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
}

.footer-catalog-navigation a
{
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-catalog-navigation
{
	display: flex;
	justify-content: space-between;
	min-width: 530px;
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}

.main-footer-bottom-background
{
	background-color: #293449;
}

.main-footer-bottom
{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 37px 0px 30px 0px;
	max-width: 940px;
}

.main-footer-bottom p
{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.copyright
{
	max-width: 230px;
	margin: 0px 0px 0px 0px;
}

.main-footer-bottom a

{
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.footer-social-list
{
	display: flex;
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}

.footer-feedback p
{
	max-width: 135px;
	margin: 0px 0px 0px 0px;
}

.footer-development p
{
	max-width: 96px;
	margin: 0px 0px 0px 0px;
}