/* Общие */
body
{
	margin: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 24px;
	text-transform: none;
}

a
{
	text-decoration: none;
	color: #ffffff; 
}

.visually-hidden
{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-navigation .container,
.categories-list,
.footer-navigation,
.footer-catalog-navigation,
.footer-social-list,
.popular-goods-list,
.popular-brands-item,
.slider-instruments,
.services-slider-button
.breadcrumbs
{
	list-style: none;
}

/* Хедер*/
.main-header-top-wrapper
{
	width: 100%;
	background-color: #293449;
}

.main-header-top-wrapper .container
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 940px;
	margin: 0 auto;
	background-color: transparent;
}

.main-header-logo
{
	background-color: #ee3643;
	padding: 14px 54px 4px 55px;
	box-shadow: 0px 5px 0 0 #b52933;
	vertical-align: top;
	cursor: pointer;
}

.search
{
	position: relative;
	display: flex;
	padding: 0px 0px;
	background-color: #293449;
	font-size: 17px;
	line-height: 18px;
}

.search::before
{
	position: absolute;
	top: 12px;
	left: 16px;
	content: "";
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.site-search
{
	min-width: 270px;
	min-height: 42px;
	background-color: transparent;
	border:none;
}

.search:hover
{
	background-color: #212a3a;
}

.site-search:focus,
.site-search:active
{
	outline: none;
	background-color: #ffffff;
	color: #000000;
	fill: #ee3643;
}

.site-search::-webkit-input-placeholder {color:#ffffff; padding-left: 50px;}
.site-search::-moz-placeholder          {color:#ffffff; padding-left: 50px;}/* Firefox 19+ */
.site-search:-moz-placeholder           {color:#ffffff; padding-left: 50px;}/* Firefox 18- */
.site-search:-ms-input-placeholder      {color:#ffffff; padding-left: 50px;}

.bookmarks
{
	position: relative;
	padding: 13px 28px 11px 46px;
	display: inline-block;
	margin: 0px;
	font-size: 17px;
	line-height: 18px;
}

.basket
{
	position: relative;
	padding: 13px 31px 11px 46px;
	display: inline-block;
	margin: 0px;
	font-size: 17px;
	line-height: 18px;
}

.bookmarks::before
{
	position: absolute;
	top: 12px;
	left: 17px;
	content: "";
	width: 14px;
	height: 18px;
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket::before
{
	position: absolute;
	top: 12px;
	left: 17px;
	content: "";
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.bookmarks:hover,
.bookmarks:hover::before,
.basket:hover,
.basket:hover::before
{
	background-color: #212a3a;
	opacity: 1;
}

.bookmarks:active,
.basket:active
{
	opacity: 0.5;
}

.button-order-header
{
	display: inline-block;
	background-color: #63a63e;
	padding: 12px 21px 14px 20px;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
}

.button-order-header:hover
{
background-color: #5fbb2d
}

.button-order-header:active
{
	opacity: 0.5;
}

.main-header-bottom-wrapper
{
	width: 100%;
	background-color: #f3f7f8;
	padding-top: 49px;
	padding-bottom: 20px;
	margin-bottom: 60px;
}

.main-header-bottom-wrapper .container
{
	display:flex;
	flex-direction: row;
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	margin-bottom: 60px; 
	background-color: transparent;
}

.main-title
{
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 52px;
	padding-right: 47px;
	width: 225px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: 23px;
	text-align: left;
	color: #ee3643;
}

.header-contacts
{
	padding-right: 67px;
}

.header-contacts-phone
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 270px;
}
.contacts-phone-number
{
	padding: 5px 43px 11px 68px;
	min-width: 144px;
	border: 4px solid #ffffff;
	box-sizing: border-box;
	font-size: 21px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 0px;
	color: #ee3643;
}

.contacts-phone-number::before
{
	position: absolute;
	top: 12px;
	left: 16px;
	content: "";
	width: 20px;
	height: 20px;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.5;
}

.header-contacts-address
{
	padding: 1px 0px 0px 10px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.user-nav-login
{
	position: relative;
	background-color: #ffffff;
	padding: 10px 24px 13px 49px;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	margin-right: 10px;
}

.user-nav-login::before   /*Почему не отображается!!!*/ 
{
	position: absolute;
	top: 12px;
	left: 16px;
	content: "";
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-nav-login:hover,
.user-nav-registration:hover,
.user-nav-login:focus,
.user-nav-registration:focus
{
	color: #e9292a;
}

.user-nav-login:hover::before
{
	opacity: 1;
}

.user-nav-login:active,
.user-nav-registration:active
{
	opacity: 0.5;
	color: #000000;
}

.user-nav-registration
{
	background-color: #ffffff;
	padding: 9px 25px 13px 25px;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
}

.user-nav-initialized
{
	display: flex;
	flex-direction: column;
}

.user-nav-profile
{
	position: relative;
	width: 242px;
	padding: 13px 10px 13px 48px;
	margin-bottom: 2px;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-nav-profile:before
{
	position: absolute;
	top: 14px;
	left: 14px;
	content: "";
	width: 20px;
	height: 18px;
	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-nav-profile:after
{
	position: absolute;
	top: 14px;
	right: 10px;
	content: "";
	width: 20px;
	height: 18px;
	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-nav-initialized-bottom
{
	display: flex;
	justify-content: space-between;
	padding: 0px 60px 0px 20px;
}

.user-nav-orders,
.user-nav-account
{
	font-size: 16px;
	line-height: 18px;
	color:#32425c;
	text-decoration: underline;
}


.main-navigation
{
	width: 940px;
	margin: 0 auto;
}

.main-navigation .container
{
	display: flex;
	flex-direction: row;
	padding-left: 0px;
	font-size: 17px;
	line-height: 17px;
}

.main-button
{
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #32425c;
	padding: 21px 32px 21px 29px;
}

.contacts-item
{
	padding: 21px 54px 21px 34px;
}

.header-item
{
	padding:21px 30px 21px 52px;
}

.main-button:hover,
.main-button:focus
{
	background-color: #293449;
}

.main-button:active
{
	background-color: #1d2739;
	color: #a8abaf;
}

/*Мейн*/
.main-top
{
	max-width: 940px;
	margin: 0 auto;
}

	/*Преимущества*/
.categories
{
	margin-bottom: 55px;
}

.categories-list-top h3,
.categories-list-bottom h3
{
	margin: 0px 0px 12px 0px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
}

.categories-list-top a,
.categories-list-bottom a
{
	display: inline-block;
	width: 95px;
	padding: 11px 21px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	text-align: center;
}

.categories-list-top a:hover,
.categories-list-bottom a:hover,
.categories-list-top a:focus,
.categories-list-bottom a:focus
{
	background-color: rgba(0, 0, 0, 0.2);
}

.categories-list-top a:active,
.categories-list-bottom a:active
{
	background-color: rgba(0, 0, 0, 0.3);
}

.categories-list-top
{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

.categories-item
{
	position: relative;
	width: 276px;
	padding: 21px 0px 20px 24px;
}

.materials
{
	background-color: #ffbf47;
	background-image: url(../img/icon-materials.svg);
	background-repeat: no-repeat;
	background-position: 212px 30px;
}

.instruments
{
	background-color: #3bbce3;
	background-image: url(../img/icon-instruments.svg);
	background-repeat: no-repeat;
	background-position: 196px 32px;
}

.equipment
{
	background-color: #dc91d8;
	background-image: url(../img/icon-equipment.svg);
	background-repeat: no-repeat;
	background-position: 190px 29px;
}

.categories-list-bottom
{
	position: relative;
	display: flex;
	flex-direction: column;
}

.sale
{
	align-self: flex-end;
	padding: 22px 0px 20px 24px;
	background-color: #8ed78f;
	margin-bottom: 20px;
	background-image: url(../img/icon-sale.svg);
	background-repeat: no-repeat;
	background-position: 195px 26px;
}

.delivery
{
	align-self: flex-end;
	padding: 21px 0px 21px 24px;
	background-color: #ffc047;
	background-image: url(../img/icon-delivery.svg);
	background-repeat: no-repeat;
	background-position: 190px 33px;
}

	/*Слайдер инструменты*/
.slider
{
	position: absolute;
	max-width: 620px;
	max-height: 266px;
	top: 0px;
	left: 0px;
}

.slider-instruments
{
	padding-left: 0px;
	margin: 0 auto;
}
.slider-instruments span
{
	position: absolute;
	top:26px;
	left:26px;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #ffffff;
}

.slider-instruments p
{
	position: absolute;
	top: 45px;
	left: 26px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.slider a
{
	position: absolute;
	display: inline-block;
	padding: 11px 47px 10px 49px;
	width: 100px;
	margin: 0px;
	left: 25px;
	bottom: 22px;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
}

.slider a:hover,
.slider a:focus
{
	background-color: #ca2c37;
}

.slider a:active
{
	background-color: #ba2732;
}

.button-next
{
	position: absolute;
	width: 23px;
	height: 41px;
	right: 19px;
	top: 115px;
	border: 0;
	padding: 0px;
	background-color: transparent;
	background-image: url(../img/icon-right.svg);
	background-repeat: no-repeat;
	cursor: pointer;
}

.button-back
{
	position: absolute;
	width: 23px;
	height: 41px;
	left: 25px;
	top: 115px;
	border: 0;
	padding: 0px;
	background-color: transparent;
	background-image: url(../img/icon-left.svg);
	background-repeat: no-repeat;
	cursor: pointer;
}

.button-next:hover,
.button-back:hover,
.button-next:focus,
.button-back:focus
{
	opacity: 0.5;
}

.button-next:active,
.button-back:active
{
	opacity: 0.3;
}

	/*Популярные товары*/
.popular-goods .container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 886px;
	padding-top: 25px;
	padding-bottom: 24px;
	padding-left: 29px;
	padding-right: 24px;
	background-color: #f9f5f0;
}

.popular-goods .container h2
{
	margin: 0px 0px;
	max-width: 270px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 100;
	text-transform: uppercase;
	color: #32425c;
}

.popular-goods .container a
{
	padding: 12px 54px 10px 55px;
	border-radius: 3px;
	background-color: #ee3643;
	max-width: 150px;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
}

.popular-goods .container a:hover,
.popular-goods .container a:focus,
.popular-brands .container a:hover,
.popular-brands .container a:focus
{
	background-color: #ca2c37;
}

.popular-goods .container a:active,
.popular-brands .container a:active
{
	background-color: #ba2732;
}

.popular-goods-list
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0px;
	margin: 0px;
}

.index-catalog-item
{
	position: relative;
	display: inline-block;
	width: 218px;
	margin: 20px 20px 20px 0px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ccc;
}

.index-catalog-item:nth-child(4n)
{
	margin-right: 0px;
}

.index-catalog-item:hover .actions
{
	display: block;
}

.index-catalog-item:hover,
.index-catalog-item:focus
{
	box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/*Каталог*/
.breadcrumbs
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 940px;
	margin: 0 auto;
	padding: 0;
	margin-top: -37px;
	margin-bottom: 23px;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs li
{
	position: relative;
	padding-right: 40px;
	list-style: none;
}

.breadcrumbs li:first-child
{
	width: 14px;
	background-color: transparent;
}

.breadcrumbs-home::before
{
	content: "";
	position: absolute;
	background-image: url(../img/icon-home.svg);
	width: 14px;
	height: 12px;
	top: 2px;
	left: 0px;
}

.breadcrumbs li::after
{
	content: "";
	position: absolute;
	background-image: url(../img/icon-right.svg);
	width: 8px;
	height: 12px;
	top: 2px;
	right: 17px;
}

.breadcrumbs li:last-child
{
	padding-right: 0;
}

.breadcrumbs-current::after
{
	display: none;
}

.breadcrumbs a
{
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}
.catalog-title
{
	display: flex;
	width: 940px;
	margin: 0 auto;
}


.catalog-container
{
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
}
.catalog-list
{
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	padding-left: 0px;
	margin: 0px 0px;
}

.catalog-item
{
	position: relative;
	display: inline-block;
	width: 218px;
	margin: 0px 20px 20px 0px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ccc;
}

.catalog-item:hover .actions
{
	display: block;
}

.catalog-item:hover,
.catalog-item:focus
{
	box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.catalog-item:nth-child(3n)
{
	margin-right: 0px;
}

.index-catalog-item img,
.catalog-item img
{
	max-width: 100%
}

.index-catalog-item h3,
.catalog-item h3
{
	min-height: 40px;
	padding: 0 25px;
	margin-top: 6px;
	margin-bottom: 11px;
	font-family: 'PT-Sans', 'Arial', sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
}

.old-price
{
	min-height: 20px;
	font-family: 'PT-Sans', 'Arial', sans-serif;
	color:#a9a9a9;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	text-decoration: line-through;
	text-align: center;
}

.new-price
{
	position: relative;
	width: 80px;
	margin: 7px auto;
	margin-bottom: 20px;
	padding: 11px 28px 11px 29px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
	font-family: 'PT-Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	text-align: center;
}

.new-price:after
{
	position: absolute;
	content: "";
	top: 0;
	right: -20px;
	width: 0;
	height: 1px;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.flag
{
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.flag-new
{
	background: url(../img/new-flag.png) no-repeat 0 0;
}

.actions
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
}

.catalog-item:hover .actions
{
	display: block;
}

.button-order,
.button-bookmarks
{
	display: block;
	position: relative;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius:3px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.button-bookmarks
{
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.button-bookmarks:hover
{
	border-color: #32425c;
}

.button-bookmarks:active
{
	opacity: 0.5;
}

.button-order::before
{
	position: absolute;
	top: 8px;
	left: 15px;
	content: "";
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.button-order:hover
{
	border-color: #5fbb2d;
	border-bottom-color: #367315;
	background-color: #5fbb2d;
}

.button-order:hover::before,
.button-order:active::before
{
	opacity: 1;
}

.button-order:active
{
	border-color: #518534;
	background-color: #518534;
}

	/*Фильтр*/
.filter
{
	width: 220px;
	text-transform: uppercase;
	color: #000000;
}

.filter-range span
{
	font-size: 13px;
	line-height: 18px;
	background-color: #f7f3ec;
	padding: 15px 160px 15px 18px;
	border-radius: 3px;
}

.filter-range-title
{
	margin: 20px 0px 10px 0px;
	padding: 0px;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.range-controls {
	position: relative;
	padding: 1px 1px;
	border-radius: 3px;
	background-color: #f7f3ec;
}

.scale
{
	width: 180px;
	height: 2px;
	background-color: #d7dcde;
	margin: 38px 0px 38px 20px;
}

.bar
{
	width: 80%;
	height: 2px;
	background: #00ca74;
}

.range-toggle
{
	position: absolute;
	top: 30px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min
{
	left: 10;
}

.range-toggle-max
{
	left: 70%;
}

.price-controls
{
	display: flex;
	justify-content: space-between;
	width: 220px;
	height: 63px;
	padding: 0px;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 0;
}

.price-controls label
{
	display: inline-block;
	font-size: 17px;
	line-height: 18px;
	cursor: pointer;
}

.min-price input,
.max-price input
{
	width: 95px;
	padding: 10px 0px 10px 0px;
	background-color: #f7f3ec;
	border-radius: 3px;
	border: none;
	text-align: center;
}

	/*Популярные производители*/
.popular-brands .container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 886px;
	margin-bottom: 20px;
	padding-top: 25px;
	padding-bottom: 24px;
	padding-left: 29px;
	padding-right: 26px;
	background-color: #f9f5f0;
}

.popular-brands .container h2
{
	margin: 0px 0px;
	max-width: 375px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 100;
	text-transform: uppercase;
	color: #32425c;
}

.popular-brands .container a
{
	max-width: 115px;
	padding: 10px 69px 10px 68px;
	border-radius: 3px;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
}

.popular-brands-list
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-bottom: 65px;
	padding-left: 0px;
	max-width: 940px;
}

.popular-brands-item
{
	margin: 0px 20px 20px 0px;
}

.popular-brands-item:nth-child(4n)
{
	margin: 0px 0px 20px 0px;
}
.popular-brands-item a
{
	display: flex;
	width: 218px;
	height: 145px;
	border: 1px solid #eaeaea;
}

.popular-brands-item a:hover,
.popular-brands-item a:focus
{
box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.popular-brands-item a:active
{
	opacity: 0.5;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.popular-brands-item img
{
	align-self: center;
	margin: 0 auto;
	
}

	/*Слайдер сервисы*/
.services-slider
{
	width: 100%;
	background-color: #f4f8f9;
	margin-bottom: 80px;
}

.services-slider .container
{
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding-bottom: 284px;
}

.services-slider-title
{
	display: inline-block;
	max-width: 370px;
	margin-top: 63px;
	margin-right: 330px;
	margin-bottom: 67px;
}

.services-slider .container h2
{
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
	margin: 0px 0px 27px 0px;
	text-transform: uppercase;
}

.services-slider .container span
{
	display: block;
	margin-bottom: 24px;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.services-slider .container p
{
	display: block;
	margin: 0px 0px 0px 0px;
}

.services-slider-title p
{
	margin: 0px 0px 0px 0px;
}

.container-2 label
{
	position: absolute;
	margin: 0px 0px;
	padding: 15px 0px 5px 22px;
	width: 218px;
	height: 41px;
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
	background-color: #32425c;
	font-size: 21px;
	line-height: 30px;

	text-align: left;
	color: #ffffff;
	cursor: pointer;
}

.warranty-label
{
	top: 297px;
}

.credit-label
{
	top: 359px;
}

.container-2 label:active /*НЕ СОХРяет СОСТОЯНИЕ!!!!*/
{
	box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
	background-color: #ffffff;
	color: #32425c;
}

.services-slider-list
{
	float: right;
	width: 620px;
	margin: 0px 0px;
	padding-left: 0px;
}


.services-slider-item
{
	display: none;
	min-height: 282px;
}

.services-slider-item:nth-child(1)
{
	display: block;
	background-position: 151px 24px;
	background-image: url(../img/services-img-1.png);
	background-repeat: no-repeat;
}

.services-slider-item:nth-child(2)
{
	background-image: url();
	background-repeat: no-repeat;
}

.services-slider-item:nth-child(3)
{
	background-image: url();
	background-repeat: no-repeat;
}

.delivery:active .services-slider-item:nth-child(1)
{
	display: block;
}

.credit a
{
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 45px 12px 45px;
	border-radius: 3px;
}

	/*Описание компании*/
.main-bottom
{
	display: flex;
	justify-content: space-between;
	max-width: 940px;
	margin: 0 auto;
	margin-bottom: 85px;
}

.company-description
{
	display: inline-block;
	width: 520px;

}

.contacts
{
	width: 300px;
}

.company-description-title,
.contacts-title
{
	margin: 0px 0px 26px 0px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.company-description-list
{
	margin: 0px 0px 35px 0px;
	padding-left: 36px;
	list-style-type: none;
	list-style-image: url(../img/list-style.svg);
	list-style-position: outside;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
}

.company-description-list li
{
	margin-bottom: 19px;
}

.company-description a
{
	display: inline-block;
	background-color: #ee3643;
	padding: 13px 40px 9px 41px;
	margin-top: 0px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
}

.company-description p
{
	margin: 0px 0px 23px 0px;
	letter-spacing: 0.5px;
}
	/*Контакты*/
.contacts-link
{
	display: block;
	width: 300px;
	height: 158px;
	margin-bottom: 39px;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
}

.button
{
	display: inline-block;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 13px 62px 9px 63px;
	border-radius: 3px;
}

.button:hover,
.button:focus
{
	background-color: rgb(202, 44, 55);
}

.button:active
{
background-color: rgb(186, 39, 50);
}

.contacts p
{
	margin-bottom: 30px;
}

/*Футер*/
.main-footer-top
{
	background-color: #32425c;
	padding-bottom: 50px;
}

.footer-top-navigation
{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 33px;
	max-width: 940px;
}

.footer-logo
{
	background-color: #ee3643;
	padding: 19px 41px 11px 41px;
	box-shadow: 0px 5px 0 0 #b52933;
	align-self: center;
	cursor: pointer;
}

.footer-top-contacts
{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 940px;
}

.footer-contacts
{
	max-width: 324px;
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
}

.footer-navigation
{
	display: flex;
	justify-content: space-between;
	min-width: 550px;
	padding-left: 0px;
	margin: 39px 0px 0px 0px;
}

.footer-navigation a
{
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
}

.footer-catalog-navigation a
{
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-navigation a:hover,
.footer-catalog-navigation a:hover,
.footer-navigation a:focus,
.footer-catalog-navigation a:focus
{
	text-decoration: underline;
}

.footer-navigation a:active,
.footer-catalog-navigation a:active
{
	text-decoration: none;
	opacity: 0.3;
}

.footer-catalog-navigation
{
	display: flex;
	justify-content: space-between;
	min-width: 530px;
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}

.main-footer-bottom
{
	background-color: #293449;
}

.main-footer-bottom .container
{
	display: flex;
	margin: 0 auto;
	padding: 37px 0px 30px 0px;
	max-width: 940px;
}

.main-footer-bottom .container p
{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.copyright
{
	max-width: 230px;
	margin: 0px 160px 0px 0px;
}

.main-footer-bottom  .container a

{
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.main-footer-bottom .container a:hover,
.main-footer-bottom .container a:focus
{
	text-decoration: underline;
}

.main-footer-bottom .container a:active
{
	text-decoration: none;
	color: #ee3643;
}

.footer-social-list
{
	display: flex;
	padding-left: 0px;
	margin: 0px 115px 0px 0px;
}

.footer-social-list li
{
	margin-right: 5px;
}

.footer-social-list li:nth-child(3n)
{
	margin-right: 0;
}

.footer-social-list a
{
	position: relative;
	display: inline-block;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #212a3a;
	cursor: pointer;
}

.vk::before
{
	position: absolute;
	top: 13px;
	left: 7px;
	content: "";
	width: 26px;
	height: 16px;
	background-image: url(../img/icon-vk.svg);
	background-repeat: no-repeat;
}

.facebook::before
{
	position: absolute;
	top: 10px;
	left: 14px;
	content: "";
	width: 14px;
	height: 23px;
	background-image: url(../img/icon-facebook.svg);
	background-repeat: no-repeat;
}

.instagram::before
{
	position: absolute;
	top: 10px;
	left: 10px;
	content: "";
	width: 22px;
	height: 23px;
	background-image: url(../img/icon-instagram.svg);
	background-repeat: no-repeat;
}

.footer-social-list a:hover,
.footer-social-list a:focus,
.footer-social-list a:active
{
	background-color: #ee3643;
}

.footer-feedback p
{
	max-width: 135px;
	margin: 0px 54px 0px 0px;
}

.footer-development p
{
	max-width: 96px;
	margin: 0px 0px 0px 0px;
}

.modal
{
	position: fixed;
}

/*Модалка написать письмо*/
.modal-mail
{
	display: none;
	width: 620px;
	left: 50%;
	top: 200px;
	margin-left: -310px;
	border-top: 7px solid #ff5358;
	padding-top: 50px;
	background-color: #ffffff;
	z-index: 100;
	box-shadow: 0 20px 40px rgba(0,0,0,0.75);
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

.mail-form
{
	width: 460px;
	margin: 0 auto;
	margin-bottom: 250px;
}

.mail-form input[type="text"],
.mail-form input[type="text"]
{
	box-sizing: border-box;
	width: 220px;
	padding: 11px 15px 11px 15px;
	font-size: 13px;
}

.mail-form textarea[type="text"]
{
	box-sizing: border-box;
	min-width: 460px;
	min-height: 115px;
	padding: 11px 15px 0px 15px;
	font-size: 13px;
}

.mail-form label
{
	float: left;
	margin-bottom: 20px;
}

.mail-form label:nth-child(2)
{
	float: right;
}

.button-wrapper
{
	background-color: #f4f4f4;
	padding: 37px 0px 37px 0px;
	width: 100%;
}

.button-red
{
	display: inline-block;
	width: 460px;
	background-color: #ee3643;
	padding: 13px 10px 9px 10px;
	margin: 0px 80px 0px 80px;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #ffffff;
}

.button-red:hover,
.button-red:focus
{
	background-color: #ca2c37;
}

.button-red:active
{
	background-color: #ba2732;
}

/*Модалка Карта*/

.modal-map
{
	display: none;
	width: 940px;
	height: 446px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.5);
	left: 50%;
	top: 200px;
	margin-left: -470px;
	z-index: 100;
}

/*Кнопка закрыть*/

.modal-close
{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 23px;
	height: 23px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after
{
	position: absolute;
	top: 7px;
	left: 1px;
	content: "";
	width: 25px;
	height: 4px;
	background-color: #ff5358;
}

.modal-close::before
{
	transform: rotate(45deg);
}

.modal-close::after
{
	transform: rotate(-45deg);
}
